/*公共常用样式*/
.clearfix:after,.clearfix:before{
    clear:both;
    content:"";
    display: table;
}
/*网页头部*/
.header-bg{
    color: #666;
    background-color: #F5F5F5;
    line-height: 35px;
    border-bottom: 1px solid #eee;
}
.ivu-btn.header-login,.header-hover:hover{
    color: #C80000;
}
.header-drop{
    line-height: 1.5;
}
/*网页nav*/
.front-nav .ivu-menu-light{
    height: 80px;
    line-height: 80px;
}
.front-nav-logo{
    float:left;
    height: 80px;
    padding: 0 0 0 100px;
}
.front-nav-logopic{
    height: 50px;
    margin: 15px 0;
}
.front-nav-item{
    float:right;
    height:80px;
}
/*网页底部*/
.ivu-row.front-footer{
    height: 157px;
    padding-top: 36px;
    background: #D7D7D7;
    border-bottom: 1px solid #C1C1C1;
    border-top: 1px solid #C1C1C1;
}
.front-footer-logo{
    padding: 0 0 0 100px;
}
.front-footer-nav{
    color: #333;
}
.front-footer-address{
    padding-top: 10px;
    color: #333;
    line-height: 25px;
}
.front-footer-navitem{
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff;
    display: block;
    float: left;
    margin-right: 20px;
}
.front-footer-navitem:hover{
    background: #C80000;
    color: #fff;
}
/*轮播图*/
.carousel-item{
    height: 500px;
    line-height: 200px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background: #506b9e;
}
.carousel-itempic{
    width: 100%;
    height: 500px;
}
/*网页内容*/
.content-title{
    height: 60px;
    width: 300px;
    font-size: 24px;
    color: #333;
    text-align: center;
    line-height: 60px;
    background: url("../images/border.png") no-repeat center bottom;
    background-size:300px 15px;
    margin: 0 auto;
}
.front-content{
    padding: 20px 50px;
}
.product-card{

    height: 400px;
    margin: 0 auto;
}
.product-cardpic{
    width: 246px;
    height: 270px;
}
.product-card-title{
    font-size: 16px;
    margin-top: 10px;
}
.product-card-desc{

}
/*最新活动*/
.product-card-event{
    width: 100%;
    height: 400px;
    margin: 0 auto;
}
.product-card-eventpic{
    width: 650px;
    height: 370px;
}
.product-card-event-content{
    height: 370px;
    background-color: linen;
    padding: 20px;
}
.product-card-event-title{
    font-size: 28px;
    width: 100%;
    height: 32px;
}
.product-card-event-desc{
    font-size: 16px;
    width: 100%;
    height: 250px;
    padding: 20px 0px;

}
/*登录、注册*/
.ivu-row.head-login{
    height: 86px;
    background-color: #F5F5F5;
}
.front-login-logo{
    height: 80px;
}
.login-nav-font{
    font-size: 24px;
    padding-top: 40px;
}
.login-nav{
    padding-top: 45px;
}
.login-body-left{
    background-color: #F5F5F5;
    padding: 10%;
    margin-right: 10px;
    height: 480px;
}
.front-login-logo-B{
    margin: 0 10%;
    width: 80%;
    height: 100%;
}
.login-body-right{
    background-color: #F5F5F5;
    padding: 50px;
    height: 480px;
}

.body-login{
    margin-top: 20px;
}
.login-footer{
    text-align: center;
    margin-top: 20px;
    color: #C1C1C1;
}

/*后台首页*/
.front-index-bg{
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
}
/*后台头部*/
.back-index-header{
    background: #fff;
}
.back-header-logo{
    height: 40px;
    padding: 5px 10px 5px 100px;
    float: left;
}
.back-header-logopic{
    height: 30px;
}
.back-header-nav{
    float: right;
    height: 40px;
    padding: 4px 0;
}
/*后台首页左侧菜单*/
.back-menu-left{
    background: #fff;
}
/*后台首页右侧*/
.back-breadcrumb{
    padding: 10px 15px 0;
}
.back-content{
    min-height: 200px;
    margin: 15px;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
}
.back-content-main{
    padding: 10px;
}
.back-copy{
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
}

/*设计投稿*/
.front-design{
    padding: 50px 300px;
}
.frint-design-name{
    width: 50%;
}