/*公共常用样式*/
.clearfix:after,.clearfix:before{
    clear:both;
    content:"";
    display: table;
}
*{
    font-size: 12px;
}
/*网页头部*/
.header-bg{
    color: #666;
    background-color: #F5F5F5;
    line-height: 35px;
    border-bottom: 1px solid #eee;
}
.ivu-btn.header-login,.header-hover:hover{
    color: #C80000;
}
/*网页nav*/
.front-nav .ivu-menu-light{
    height: 80px;
    line-height: 80px;
}
.front-nav-logo{
    float:left;
    height: 80px;
    padding: 0 0 0 100px;
}
.front-nav-logopic{
    height: 50px;
    margin: 15px 0;
}
.front-nav-item{
    float:right;
    height:80px;
}
/*网页底部*/
.ivu-row.front-footer{
    height: 157px;
    padding-top: 36px;
    background: #D7D7D7;
    border-bottom: 1px solid #C1C1C1;
    border-top: 1px solid #C1C1C1;
}
.front-footer-logo{
    padding: 0 0 0 100px;
}
.front-footer-nav{
    color: #333;
}
.front-footer-address{
    padding-top: 10px;
    color: #333;
    line-height: 25px;
}
.front-footer-navitem{
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff;
    display: block;
    float: left;
    margin-right: 20px;
}
.front-footer-navitem:hover{
    background: #C80000;
    color: #fff;
}
/*轮播图*/
.carousel-item{
    height: 500px;
    line-height: 200px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background: #506b9e;
}
.carousel-itempic{
    width: 100%;
    height: 500px;
}
/*网页内容*/
.content-title{
    height: 60px;
    width: 300px;
    font-size: 24px;
    color: #333;
    text-align: center;
    line-height: 60px;
    background: url("../images/border.png") no-repeat center bottom;
    background-size:300px 15px;
    margin: 0 auto;
}
.front-content{
    padding: 20px 50px;
}
.product-card{
    width: 90%;
    height: 400px;
    margin: 0 auto;
}
.product-cardpic{
    width: 246px;
    height: 270px;
}
.product-card-title{
    font-size: 16px;
    margin-top: 10px;
}
.product-card-desc{

}