/*公共常用样式*/
.clearfix:after,.clearfix:before{
    clear:both;
    content:"";
    display: table;
}
.bold{
    font-weight: bold;
}
.main-color{
    color: #c80000;
}
.text-center{
   text-align: center;
}
.cursor{
    cursor: pointer;
}
.font-normal{
    font-size: 14px;
    font-weight: normal;
}
.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
}
.page-position{
    float: right;
    margin-top: 20px;
}
.page-position-center{
    margin: 20px 0;
}
/*网页头部*/
.header-bg{
    color: #666;
    background-color: #F5F5F5;
    line-height: 35px;
    border-bottom: 1px solid #eee;
}
.ivu-btn.header-login,.header-hover:hover{
    color: #C80000;
}
.header-drop{
    line-height: 1.5;
}
/*网页nav*/
.front-nav .ivu-menu-light{
    height: 80px;
    line-height: 80px;
}
.front-nav-logo{
    float:left;
    height: 80px;
    padding: 0 0 0 100px;
}
.front-nav-logopic{
    height: 50px;
    margin: 15px 0;
}
.front-nav-item{
    float:right;
    height:80px;
}
.front-nav-text{
    float: left;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 10px;
    height: 50px;
}
/*网页底部*/
.ivu-row.front-footer{
    height: 157px;
    padding-top: 36px;
    background: #D7D7D7;
    border-bottom: 1px solid #C1C1C1;
    border-top: 1px solid #C1C1C1;
}
.front-footer-logo{
    padding: 0 0 0 100px;
}
.front-footer-nav{
    color: #333;
}
.front-footer-address{
    padding-top: 10px;
    color: #333;
    line-height: 25px;
}
.front-footer-navitem{
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff;
    display: block;
    float: left;
    margin-right: 20px;
}
.front-footer-navitem:hover{
    background: #C80000;
    color: #fff;
}
/*轮播图*/
.carousel-item{
    height: 500px;
    line-height: 200px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background: #506b9e;
}
.carousel-itempic{
    width: 100%;
    height: 500px;
}
/*网页内容*/
.content-title{
    height: 60px;
    width: 300px;
    font-size: 24px;
    color: #333;
    text-align: center;
    line-height: 60px;
    background: url("../images/border.png") no-repeat center bottom;
    background-size:300px 15px;
    margin: 0 auto;
}
.front-content{
    padding: 20px 50px;
}
.product-card-wrap{
    padding: 0 20px;
}
.product-card{
    float: left;
    margin: 20px;
    width: 280px;
    height: 400px;
}
.product-design-card{
    margin: 14px;
}
.product-cardpic{
    width: 246px;
    height: 270px;
}
.product-card-title{
    font-size: 16px;
    margin-top: 10px;
}
.product-card-desc{
    color:#657180;
}
.front-buy-symbolp{
    margin-left: 5px;
    font-size: 12px;
    color: #333;
}
.front-buy-symbol{
    margin-left: 5px;
    font-size: 18px;
    color: #c80000;
}
.front-buy-pricep{
     font-size: 12px;
     color: #333;
     text-decoration: line-through;
}
.front-buy-price{
    font-size: 18px;
    color: #c80000;
    font-weight: bold;
}

/*最新活动*/
.product-card-event{
    width: 100%;
    height: 400px;
    margin: 0 auto;
}
.product-card-eventpic{
    width: 650px;
    height: 370px;
}
.product-card-event-content{
    height: 370px;
    background-color: linen;
    padding: 20px;
}
.product-card-event-title{
    font-size: 28px;
    width: 100%;
    height: 32px;
}
.product-card-event-desc{
    font-size: 16px;
    width: 100%;
    height: 250px;
    padding: 20px 0px;

}
/*登录、注册*/
.ivu-row.head-login{
    height: 86px;
    background-color: #F5F5F5;
}
.front-login-logo{
    height: 80px;
}
.login-nav-font{
    font-size: 24px;
    padding-top: 40px;
}
.login-nav{
    padding-top: 45px;
}
.login-body-left{
    background-color: #F5F5F5;
    padding: 10%;
    margin-right: 10px;
    height: 480px;
}
.front-login-logo-B{
    margin: 0 10%;
    width: 80%;
    height: 100%;
}
.login-body-right{
    background-color: #F5F5F5;
    padding: 50px;
    height: 480px;
}
.body-login{
    margin-top: 20px;
}
.login-footer{
    text-align: center;
    margin-top: 20px;
    color: #C1C1C1;
}
.go-login{
    margin-left: 5px;
    float:right;
    color:#c80000;
    cursor: pointer;
}

/*设计投稿*/
.front-design{
    padding: 50px 300px;
}
.frint-design-name{
    width: 50%;
}
/*购物车*/
.front-cart-tab{
    margin-top: 20px;
}
.front-cart-title{
    padding: 0 10px;
}
.front-cart-item{
    border: 1px solid #d7dde4;
    margin-top: 10px;
    padding: 10px;
}
.front-cart-itempic{
    height: 50px;
    width: 50px;
}
.front-cart-bottom{
    margin-top: 20px;
    line-height: 30px;
    background-color: rgb(245, 247, 249);
    padding: 10px;
    border: 1px solid #d7dde4;
}
.cart-money{
    font-size: 26px;
    color: #c40000;
    font-weight: bolder;
    font-family: Arial;
}
/*订单管理*/
.front-order-title{
    text-align: center;
    padding: 10px;
    background-color: rgb(245, 247, 249);
    border: 1px solid #d7dde4;
}
.front-order-item-title{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(245, 247, 249);
    border: 1px solid #d7dde4;
}
.front-order-item-content{
    text-align: center;
    border-left: 1px solid #d7dde4;
    border-right: 1px solid #d7dde4;
    border-bottom: 1px solid #d7dde4;
    padding: 10px;
}
.front-order-item-delete{
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    color:#c80000;
}

/*产品详情*/
.front-product-wrap{
    margin-bottom: 40px;
}
.front-product-intro{
    margin-top: 40px;
}
.front-product-mpic-wrap{
    border: 1px solid #d7dde4;
    width: 432px;
    height: 432px;
}
.front-product-mpic{
    width: 432px;
    height: 432px;
}
.front-product-introl{
    padding-left: 20px;
}
.front-product-title{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.front-product-pricewrap{
    margin-top: 40px;
    background-color: #e9e9e9;
    padding: 10px;
}
.front-product-price{
    padding: 5px;
}
.front-product-symbol{
    margin-left: 50px;
    color: #333;
}
.front-product-pricep{
    font-size: 14px;
    color: #333;
    text-decoration: line-through;
}
.front-product-prices{
    padding: 5px;
}
.front-product-symbols{
    margin-left: 40px;
    font-size: 18px;
    color: #c40000;
    font-weight: bolder;
    font-family: Arial;
}
.front-product-pricesp{
    font-size: 30px;
    color: #c40000;
    font-weight: bolder;
    font-family: Arial;
}
.front-product-typewrap,.front-product-sumwrap{
    height: 36px;
    line-height: 36px;
    margin-top: 40px;
}
.front-product-type,.front-product-sum{
    padding-left: 20px;
}
.front-product-sum-item{
    margin-left: 10px;
}
.front-product-type-item{
    margin-left: 10px;
    padding: 9px 10px;
    border: 1px solid #b8b7bd;
    color: #000;
    cursor: pointer;
}
.front-product-type-selected{
    padding: 8px 9px;
    border: 2px solid #c40000;
}
.front-product-btnwrap{
    margin-top: 40px;
    text-align: center;
}
.front-product-btn{
    display: inline-block;
    width: 178px;
    background-color: #ffeded;
    border: 1px solid #c40000;
    color: #c40000;
    font-family: 'Microsoft Yahei';
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.front-product-btncart{
    margin-left: 20px;
    display: inline-block;
    width: 178px;
    background-color: #c40000;
    border: 1px solid #c40000;
    color: #fff;
    font-family: 'Microsoft Yahei';
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.front-product-introt{
    background-color: #e9e9e9;
    padding: 10px;
}
.front-product-introd{
    padding: 10px 20px;
    line-height: 30px;
    color: #666;
}
.front-product-introdpic{
    text-align: center;
}

/*确认订单*/
.sureOrder-wrap{
    padding: 0px 200px 100px;
}
.sureOrder-addr{
    padding-left: 20px;
    color: #3c3c3c;
    font-size: 16px;
    border: 1px solid #c80000;
    background-color: #fff0e8;
    margin: 5px 0 7px;
    line-height: 32px;
    box-shadow: 5px 5px 0 #f3f3f3;
}
.sureOrder{
    padding-top: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #3c3c3c;
    border-bottom: 2px solid #f1f1f1;
}
.sureOrder-title{
    padding: 5px 0;
    text-align: center;
    border-bottom: 3px solid #b2d1ff;
}
.sureOrder-item{
    padding: 20px 0;
    border-bottom: 1px dotted #ddd;
    background-color: #fbfcff;
    text-align: center;
}
.sureOrder-pic{
    height: 50px;
    width: 50px;
    margin: 0 auto;
}
.sureOrder-sum{
    background-color: #f2f7ff;
    border-bottom: 1px solid #fff;
    padding: 10px 20px;
}
.sureOrder-pay{
    background-color: #f2f7ff;
    padding: 3px 30px 3px 0;
    text-align: right;
    color: #333;
    height: 45px;
    line-height: 45px;
}
.money-symbols{
    margin-left: 10px;
    font-size: 26px;
    color: #c40000;
    font-weight: bolder;
    font-family: Arial;
}
.sureOrder-btn{
    border-bottom: 1px dotted #ddd;
    text-align: right;
    padding: 10px 10px 10px 0;
}



/*后台首页*/
.front-index-bg{
    border: 1px solid #d7dde4;
    /*background: #f5f7f9;*/
    position: relative;
}
/*后台头部*/
.back-index-header{
    background: #fff;
}
.back-header-logo{
    height: 40px;
    padding: 5px 10px 5px 100px;
    float: left;
}
.back-header-logopic{
    height: 30px;
}
.back-header-nav{
    float: right;
    height: 40px;
    padding: 4px 0;
}
/*后台首页左侧菜单*/
.back-menu-left{
    background: #fff;
}
/*后台首页右侧*/
.back-breadcrumb{
    padding: 10px 15px 0;
}
.back-content{
    min-height: 200px;
    margin: 15px;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
}
.back-content-main{
    padding: 10px;
}
.back-copy{
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
}

